SUPABASE_PROJECT_ID="khngyegoqrkmbvpjhkab"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_bJaOcWrifY_38PE4CKktDA_8fBaEX24"
SUPABASE_URL="https://khngyegoqrkmbvpjhkab.supabase.co"
VITE_SUPABASE_PROJECT_ID="khngyegoqrkmbvpjhkab"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_bJaOcWrifY_38PE4CKktDA_8fBaEX24"
VITE_SUPABASE_URL="https://khngyegoqrkmbvpjhkab.supabase.co"
